parameters:
  level: max
  paths: [src, test]
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # allow @throws with interfaces
    - '/@throws with type .* is not subtype of Throwable/'

    - message: /^Function afterEach not found.$/
      path: test
    - message: /^Function beforeEach not found.$/
      path: test
    - message: /^Function context not found.$/
      path: test
    - message: /^Function describe not found.$/
      path: test
    - message: /^Function expect not found.$/
      path: test
    - message: /^Function it not found.$/
      path: test

    # PHPStan doesn't seem to understand the callable type
    # - '/expects Closure|string, callable\(\): mixed given./'

    # (tests only) Eloquent\Phony\Kahlan\Facade is a namespace alias, and not expected to exist
    - message: '/^(Class|Function) Eloquent\\Phony\\Kahlan\\Facade(\\\w+)? not found.$/'
      path: test/suite

    # Kahlan uses $this
    - '/^Variable \$this might not be defined\.$/'
    - '/^Undefined variable: \$this$/'

    # Kahlan uses magic static methods
    - '/^Call to an undefined static method Kahlan\\Arg::/'

    # Incorrect docblock
    - '/^Parameter #3 \$filter of static method Kahlan\\Filter\\Filters::apply\(\) expects string/'
